<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
  <module name="TreeWalker">
    <!-- Enforce Javadoc for all methods -->
    <!-- <module name="JavadocMethod" /> -->

    <!-- Enforce Javadoc for all types -->
    <module name="MissingJavadocType" />

    <!-- Enforce no-fallthrough in switch statements -->
    <module name="FallThrough"/>
  </module>
</module>
